.load-more-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

@media (min-width: 600px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .product-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1400px) {
  .product-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.Paper.product {
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.product img {
  width: 200px;
  height: 200px;
}
